
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 50%;
        margin: 10px;
        padding: 10px;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }     

.contenedor_1{
  background-color: cornflowerblue;
  text-align: center;
  margin: 10px;
  padding: 10px;
  
}

.contenedor_2{
  background-color: rgb(198, 204, 216);
  margin: 10px;
  padding: 10px;
}

.contenedor_3{
  background-color: crimson;
  margin: 10px;
  padding: 10px;
}